# IDEA files
/.idea/
/out/
/*.iml

# Gradle build files
/.gradle/
/build/
src/main/resources/docs/

# MacOS custom attributes files created by Finder
.DS_Store
*.iml
bin/

/text-ui-test/ACTUAL.TXT
text-ui-test/EXPECTED-UNIX.TXT
/text-ui-test/Income.log
/text-ui-test/IncomeParser.log
/text-ui-test/IncomeManager.log
/text-ui-test/Parser.log
IncomeManager.log
Income.log
IncomeParser.log
logs